h1 {
  color: white !important ;
  font-size: 150px;
}
.center {
text-align: center;
background-image: url(https://static.designmynight.com/uploads/2016/11/london-cocktail-club-2-optimised.jpg);
}
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
